.weather {
    place-self: center;
    padding: 40px;
    border-radius: 10px;
    background-image: linear-gradient(45deg, #387478, #257180);
    display: flex;
    flex-direction: column;
    align-items: center;
}

.search-bar {
    display: flex;
    align-items: center;
    gap: 12px;
}

.search-bar input {
  height: 50px;
  border: none;
  outline: none;
  padding-left: 25px;
  border-radius: 40px;
  color: #626262;
  background: #ebfffc;
  font-size: 18px;
}

.search-bar img {
    width: 50px;
    padding: 15px;
    border-radius: 50%;
    background: #ebfffc;
    cursor: pointer;
}

.weather-icon {
    width: 150px;
    margin: 30px 0;
}

.temperature {
    color: #fff;
    font-size: 80px;
    line-height: 1;
}

.location {
    color: #fff;
    font-size: 40px;
}

.weather-data {
    width: 100%;
    margin-top: 40px; 
    color: #fff;
    display: flex;
    justify-content: space-between;
}

.weather-data .col {
    display: flex;
    align-items: flex-start;
    gap: 12px;
    font-size: 22px;
}

.weather-data .col span {
    display: block;
    font-size: 16px;
}

.weather-data .col img {
    width: 26px;
    margin-top: 10px;
}

@media screen and (max-width: 900px) {
    .weather{
        place-self: center;
        padding: 35px;
        border-radius: 10px;
        background-image: linear-gradient(45deg, #387478, #257180);
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .search-bar input {
        height: 40px;
        border: none;
        outline: none;
        padding-left: 20px;
        border-radius: 40px;
        color: #626262;
        background: #ebfffc;
        font-size: 16px;
      }
      
    .search-bar img {
        width: 40px;
        padding: 13px;
        border-radius: 50%;
        background: #ebfffc;
        cursor: pointer;
    }

    .search-bar img {
        width: 40px;
        padding: 15px;
        border-radius: 50%;
        background: #ebfffc;
        cursor: pointer;
    }

    .weather-icon {
        width: 150px;
        margin: 30px 0;
    }
    
    .temperature {
        color: #fff;
        font-size: 60px;
        line-height: 1;
    }
    
    .location {
        color: #fff;
        font-size: 35px;
    }
    
    .weather-data {
        width: 100%;
        margin-top: 40px; 
        color: #fff;
        display: flex;
        justify-content: space-between;
    }
    
    .weather-data .col {
        display: flex;
        align-items: flex-start;
        gap: 10px;
        font-size: 22px;
    }
    
    .weather-data .col span {
        display: block;
        font-size: 15px;
    }
    
    .weather-data .col img {
        width: 24px;
        margin-top: 10px;
    }
}

@media screen and (max-width: 600px) {
    .weather {
        place-self: center;
        width: 73%;
        padding: 20px;
        border-radius: 10px;
        background-image: linear-gradient(45deg, #387478, #257180);
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .search-bar input {
        margin-top: 15px;
        width: 75%;
        height: 43px;
        border: none;
        outline: none;
        padding-left: 15px;
        border-radius: 20px;
        color: #626262;
        background: #ebfffc;
        font-size: 20px;
      }
      
    .search-bar img {
        margin-top: 15px;
        width: 45px;
        padding: 15px;
        border-radius: 50%;
        background: #ebfffc;
        cursor: pointer;
    }
    
    .search-bar img:hover {
        background: rgb(137, 208, 255);
    }

    .weather-icon {
        width: 100px;
        margin: 30px 0;
    }
    
    .temperature {
        color: #fff;
        font-size: 60px;
        line-height: 1;
    }
    
    .location {
        color: #fff;
        font-size: 35px;
    }
    
    .weather-data {
        width: 100%;
        margin-top: 40px; 
        color: #fff;
        display: flex;
        justify-content: space-between;
    }
    
    .weather-data .col {
        display: flex;
        align-items: flex-start;
        gap: 12px;
        font-size: 22px;
    }
    
    .weather-data .col span {
        display: block;
        font-size: 15px;
    }

    .weather-data .col p {
        margin-top: 50px;
        font-size: 18px;
    }

    .weather-data .col img {
        margin-top: 62px;
        width: 23px;
    }

    
}

@media screen and (max-width: 400px) {
    .weather {
        place-self: center;
        
        width: 90%;
        padding: 20px;
        border-radius: 10px;
        background-image: linear-gradient(45deg, #387478, #257180);
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .search-bar input {
        margin-top: 15px;
        height: 40px;
        width: 75%;
        border: none;
        outline: none;
        padding-left: 14px;
        border-radius: 20px;
        color: #626262;
        background: #ebfffc;
        font-size: 18px;
      }
      
    .search-bar img {
        margin-top: 15px;
        width: 39px;
        padding: 15px;
        border-radius: 50%;
        background: #ebfffc;
        cursor: pointer;
    }
    
    .search-bar img:hover {
        background: rgb(137, 208, 255);
    }

    .weather-icon {
        width: 100px;
        margin: 30px 0;
    }
    
    .temperature {
        color: #fff;
        font-size: 50px;
        line-height: 1;
    }
    
    .location {
        color: #fff;
        font-size: 28px;
    }
    
    .weather-data {
        width: 100%;
        margin-top: 40px; 
        color: #fff;
        display: flex;
        justify-content: space-between;
    }
    
    .weather-data .col {
        display: flex;
        align-items: flex-start;
        gap: 12px;
        font-size: 20px;
    }
    
    .weather-data .col span {
        display: block;
        font-size: 13px;
    }

    .weather-data .col p {
        margin-top: 50px;
        font-size: 15px;
    }

    .weather-data .col img {
        margin-top: 62px;
        width: 23px;
    }
}